.speech{
    font-family: Times;
    font-size:19px;
    color:black;
    }
 .stage-direction{
     font-family: Times;
     font-size:20px;
     color:black;
     background-color: lightgray;
 }   

 .stage-direction:hover{
     background-color: blue;
     color: lime;
 }
 .name{
     font-size: 20px;
     color: mediumaquamarine;
 }
 .LORDGORING{
     
     color: green;
     
}
.LORDGORING:hover{
    
    color:gold;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.PHIPPS{
    color: purple;
}
.PHIPPS:hover{
    color: gold;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.table{
    border: 5px;
    border-style:solid;
    color:black;
    text-align: center;
    margin: 5px;
    padding-left: 10px;
    
}
table{
    border-collapse: collapse;
}
table td,th{
    border:1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
tr:nth-child(even){
    background-color:lightskyblue;
    color: darkgray;

}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li
{ 
   float:left; 
   color:#000;background-color:lightgray
}
ul.navbar-horizontal a {
   display:block;padding:8px
}
ul.navbar-horizontal a:hover { 
   background-color: #555;color:white;
}












